{% extends "core/base.html" %}

{% block top %}
<div class="container h-100 w-100">
    <h1 class="h-100 w-100 d-flex align-items-center justify-content-center">
        HSG Meme Game
    </h1>
</div>
<div class="modal fade supertop" id="instruction_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">How to play</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>BASIC RULES: <br>

            Find 2 or more friends and sit around a table with your device ready to be passed around. To start playing, you first will have to adjust the game settings.<br>
            
            Add the nicknames of the players <br>
            
            Define the number of points that are necessary to win <br>
            
            Initiate the game by pressing “Start”. In the beginning, one player is randomly assigned to be the judge of the other players memes. After that, the role of the judge will take turns accordingly. <br>
            
            The judge then looks through the photo cards and selects the one they want to judge for that round. They show it to everyone and confirm their choice. <br>
            
            When the first player is ready, he takes the device and confirms his presence. The player takes a few moments to decide which of the caption cards pairs funniest with the photo card and confirms his choice. This process is repeated for each player. <br>
            
            Once each player has submitted his captions, the judge gets an overview with all cards (which have been shuffled to anonymize them), reads them out one-by-one and selects the funniest caption card. Make sure the photo card is visible to everyone, because that way it’s funnier! <br>
            
            The player who played the funniest caption card wins that round and keeps the meme which consist of the photo and caption as a trophy! <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center">
    <form action="{% url 'core:update_settings' %}" method="POST" class="w-100 h-100">
        {% csrf_token %}
        <div class="d-flex w-100 h-100 row">
            <div class="col-12 offset-md-2 col-md-4 py-3 py-md-0 px-md-3 h-100">
            <div class="card h-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center">Players</h2>
                        {% for player in current_game.players.all %}
                        <p class="d-flex w-100 my-2 p-3 rounded bg-light border">
                            <span class="username">{{player.username}}</span>
                            <a class="material-icons icon-link white rounded-pill bg-danger ml-auto" href="{% url 'core:remove_user' player.id %}">
                                remove
                            </a>
                        </p> 
                        {% endfor %}
                        <input id="username" name="username" type="text" class="d-flex w-100 my-2 p-3 rounded bg-light border" placeholder="Type your name here...">
                        <div class="d-flex align-items-center justify-content-center w-100 mt-3">
                            <button type="submit" class="btn material-icons icon-link white rounded-pill bg-success">
                                add
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-4 h-100">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center">Points to win</h2>
                        <input type="number" id="points_to_win" class="d-flex w-100 my-2 p-3 rounded bg-light border" name="points_to_win" min="1" max="100" value={{ current_game.points_to_win }}>
                        <div class="d-flex align-items-center justify-content-center w-100 mt-3">
                            <button type="submit" class="btn material-icons icon-link white rounded-pill bg-success">
                                save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block bottom %}
<div class="container d-flex w-100 h-100 flex-column align-items-center justify-content-center">
    <a class="btn btn-danger rounded-pill shadow w-75" href="{% url 'core:initial_start' %}">Start</a>
    <button type="button" class="btn btn-link mt-3" data-toggle="modal" data-target="#instruction_modal">
        How to play
    </button>
</div>
{% endblock %}