{% extends "core/base.html" %}
{% load static %}

{% block top %}
<div class="px-4 d-flex h-100 w-100">
    <h1 class="">
        Round {{ current_game.current_round }}
    </h1>
    <h1 class="ml-auto">
        Player: {{ current_game.get_current_player.username }}
    </h1>
</div>
{% endblock %}

{% block main %}
<div class="row h-100 w-100">
    <div class="image d-flex col-8 px-4 justify-content-center h-100">
        <div style="background: url('{% static 'core/example.jpg' %}');" class="image-container w-100 h-100"></div>
    </div>
    <div class="col-4 h-100 d-flex justify-content-center align-items-center">
        {% block actionbutton %}
        <a class="rounded-pill bg-success shadow material-icons icon-link white big-button" href="{% url 'core:submit_card' %}">
            done
        </a>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block bottom %}
{# FIXME Testen, was passiert, wenn man zu oft auf eine Karte drückt #}
<div class="d-flex flex-row justify-content-center h-100">
    {% for card in current_cards %}
        <div class="col-2 px-2 h-100">
            <a class="d-flex line-card bg-light shadow h-100 px-2 pt-4 justify-content-center"
                {% if current_card == forloop.counter0 %}style="background-color: yellow !important;"{% endif %}
                href="{% url 'core:select_card' forloop.counter0 %}">
                {{card.line}}
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}