{% extends "core/round_main.html" %}

{% block donebutton %}{% endblock %}

{% block gameinput %}
    <div class="d-flex flex-column justify-content-center align-items-center col-12">
        
        <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <a class="material-icons" href="#">refresh</a>

            <p>
                {{ current_player.username }}, it's your turn!
            </p>
        </div>

        <a class="btn btn-danger rounded-pill shadow w-50" href="{% url 'core:round' %}">Ok, I'm ready!</a>
    </div>
{% endblock %}