{% extends "core/round_main.html" %}

{% block top %}
<div class="px-4 d-flex h-100 w-100">
    <h1 class="col-3">
        Round {{ current_game.current_round }}
    </h1>
    <h1 class="col-6 text-center">
        {{ current_game.get_current_player.username }} it's your turn!
    </h1>
</div>
{% endblock %}

{% block ab_container %}
    {% if current_game.get_player_before_current is current_game.judge %}
        <div class="col-4 h-100 d-flex justify-content-center align-items-center">
            {% block actionbutton %}
            <a class="rounded-pill bg-warning shadow material-icons icon-link black big-button" href="{% url 'core:reload_image' %}">
                refresh
            </a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block bottom %}
    <div class="d-flex flex-column justify-content-center align-items-center col-12 h-100">
        <a class="btn btn-danger rounded-pill shadow w-50" href="{% url 'core:round' %}">Ok, I'm ready!</a>
    </div>
{% endblock %}